<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>V便签</title>
	<script src="./vue.js"></script>
    <link rel="stylesheet" type="text/css" href="css/style.css">
</head>



<body>
	<div id="app" v-bloak>
        <header>
            <h1>{{title|myf}}</h1>
            <input id="inp_content" v-model:value="inp_content" placeholder="to do what?" @keyup.enter="enter"/>
        </header>
        
        <section>
        	select all：<input type="checkbox" v-model="selAll" @click="selectAll" />
            <ul>
            	<li :class="{completed:val.status}" v-for="(val,key) in todolist">
                <input type="checkbox" v-model="val.status"/>
                <label>{{val.content}}</label>
                <button v-red @click="del(key)">del</button>
                </li>
            </ul>
            <button @click="clearCom">clear completed</button>
        </section>
    </div>
</body>
<script>
	//声明全局过滤器
	Vue.filter('myf',function(val){
		return val.toUpperCase();
		})
	Vue.filter('nu',function(val){
		var reg = /\d/g;
		return val.replace(reg,'*');
		})
	//声明全局自定义指令
	Vue.directive('red',{
		inserted:function(el){
			el.style.background = 'red';
			el.style.border = 0;
			}
		})
		
	var list=[
		{id:1,content:'吃饭',status:false},
		{id:2,content:'睡觉',status:true}
	];
	
	var app = new Vue({
		el:"#app",
		data:{
			title:'便签>>>todolist',
			todolist:list,
			inp_content:'',
			selAll:false
			},
		methods:{
			enter:function(){
				//内容不能为空的判断
				if(this.inp_content == ""){
					alert("内容不能为空哦");
				}else{
					//获取数组中最后一个元素的id并+1
					var ids = this.todolist.length+1;
					//获取添加对象
					var op = {id:ids,content:this.inp_content,status:false};
					//将新对象添加进todolist数组
					this.todolist.push(op);
					//清空文本框内容
					this.inp_content = '';
					}
				},
			selectAll:function(){
				//获取全选按钮状态
				var sel = !this.selAll;
				//循环遍历改变status值
				for(let i=0;i<this.todolist.length;i++){
					this.todolist[i].status = sel;
					}
				},
			del:function(key){
				//从数组中删除对象
				this.todolist.splice(key,1);
				},	
			clearCom:function(){
				//使用filter函数过滤掉不符合条件的对象
				this.todolist = this.todolist.filter(obj=>!obj.status);
/*				//创建新数组
				var newArr = [];
				//for循环遍历todolist对象
				for(let i=0;i<this.todolist.length;i++){
					//判断todolist对象状态值
					if(this.todolist[i].status == false){
						newArr.push(this.todolist[i]);
						}
					}
				this.todolist = newArr;*/
				}
			},
			//计算属性，值不变只调用一次，提高性能
		computed:{
			
			},
			//侦听器，侦听data里数据的变化
		watch:{
			inp_content:function(newval,oldval){
				console.log(newval);
				}
			},
			//声明私有（局部）过滤器
		filters:{
			//大写过滤器
			/*myf:function(val){
				return val.toUpperCase();
				},*/
			//数字转*过滤器
			/*nu:function(val){
				var reg = /\d/g;
				return val.replace(reg,'*');
				}*/
				
			},
			
			
		});
		
		
</script>

</html>
